html {
    height: 100%;
    /* box-sizing: border-box; */
}

body {
    overflow-x: hidden;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin-right: 10px;
    padding-right: 8px;
    min-height: 100%;
    color:white;
    /* padding-bottom: 6.74rem; */
    /* box-sizing: inherit; */
    /* display: flex;
    flex-direction: column; */
}
.ree{
    width: 75%;
}
.textField__label{
    color: aliceblue !important;
    border-color:aliceblue !important;
}
.textField__select{
    color: aliceblue !important;
}
/* .MuiOutlinedInput-notchedOutline{
    
 } */
 /* .MuiInputLabel-root {
    color:aliceblue !important;
  }  */
*{
    margin: 5rem;
    padding: 5rem;
    box-sizing: border-box;
    /* font-family: "PT Sans"; */
}

#home {
   /* // background-color: ; */
    background: linear-gradient(90deg, #1abc9c 50%, #16a085 100%);
    min-height: 500px;
    margin: 0px;
    padding: 0px;
    color:white;
    margin-bottom: 5rem;
    /* //overflow: hidden; */
}

.form .footer{
    display: none;
}
.form {
    background-color: #1abc9c;
    background: linear-gradient(90deg, #1abc9c 50%, #16a085 100%);
    /* border-radius: 12%; */
}

.donDiv {
    /* margin: 20px 10px 10px 40px; */
    width: 100%;
}

.footer {
    background-color: #1abc9c;
    background: linear-gradient(90deg, #1abc9c 50%, #16a085 100%);
    /* margin-top: auto; */
    /* display: flex; */

    /* padding: 25px; */
    /* margin-top: 35px; */
    /* position: absolute; */
    right: 0;
    left: 0;
    bottom: 0;
    /* margin:0px;
    padding: 0px; */
    /* position:absolute ; */
    /* left:0; */
    /* bottom:0;
width: 100%; */
    /* right:0; */

    /* overflow: hidden; */
}

.forms {

    width: '80%'

}
.topic{
    color: white;
}
.topic2{
    color:#1abc9c;
}
.imageOK {
    align-items: flex-end;
}

.donationCon {
    width: 70%;
}

.labelA {
    float: left;
    width: 5em;
    margin-left: 25%;
    margin-top: 0.5em;
}

.radioA {
    float: left;
    width: 5em;
    margin-left: 19%;
    margin-top: 0.5em;
}

.timePickerA {

    width: 60%;

}
h3{
    color:#1abc9c ;
}
.calendarMargin{
    margin-left: 10;
    margin-right: 10;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.donHistory h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.maindiv {
    display: inline-block;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* 
h2{
        font-family:  'Acme', sans-serif;

    } */